extends template.jade
block variables
	- var bodyClass = "about";
	- var pageBackround = "background-image: url(img/product-bg.jpg)";

block title
	title Home

block content
	.container_center
		// begin breadcrumb 
		ul.breadcrumb
			li
				a(href="#") Главная
			li
				a(href="#") О компании
		// end breadcrumb 
		
	.container_center
		.about__content
			.txt__center
				.content__title Завод Строительных Металлоконструкций

				p Cовременное предприятие по производству металлоконструкций любого уровня сложности, в том числе и строительных металлоконструкций для возведения зданий, и сооружений общественного, промышленного и сельскохозяйственного назначения.

				p Наши производственные мощности рассчитаны на выпуск до 500 тонн готовых изделий в месяц, при односменной работе и позволяют осуществить полный цикл производства металлоконструкций.

				p Многолетний опыт работы, современный уровень технологий, <a href="hardware.html">оборудование</a> от ведущих европейских производителей, наличие высококвалифицированных кадров и неизменно высокое качество выпускаемой <a href="hardware.html">продукции</a> позволяет нам успешно выполнять любые поставленные задачи. 
