// begin footer 
footer.footer
	.container_center
		.footer__left © 2018.  OOO «Завод Строительных Металлоконструкций». 
		.footer__right 
			a(href="#") О защите персональных данных
				i.icon-arrow-right
// end footer 

script(src="js/jquery.js")
script(src="js/modal.js")
script(src="js/jquery.matchHeight.js")
script(src="js/slick.min.js")
script(src="js/function.js")
